@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	background:	 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253, 213, 255,0.4
					 )), color-stop(100%,rgba(255, 255, 185,0.5)));
body{
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family:"游明朝";
	overflow:scroll;
}


   
.box-title {
	font-family:"游明朝";
    font-size: 1.2em;
    background: rgb(192, 192, 192);
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.p {
    padding: 15px 20px;
    margin: 0;
	font-family:"游明朝";
}


.search{
	text-align: center;
	 margin: 2em 0;
	 background: #f1f1f1;
	 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
	}
	
.search input[type=submit]{
	  width: 260px;
	  height: 35px;
	  background: rgb(192, 192, 192);
	  border: 1px solid rgb(192, 192, 192);
	  cursor: pointer;
	  border-radius: 2px;
	  color: rgb(255, 255, 255);
	  font-family: 'Exo', sans-serif;
	  font-size: 16px;
	  font-weight: 400;
	  padding: 6px;
	  margin-top: 10px;  
	  font-family:"游明朝";
	  font-weight: bold;
	}

.tab{
	text-align: center;
}

.d1{
	font-family:"游明朝";
	writing-mode: vertical-rl;
	font-size: xx-large;
	
}
.table_box{
	width: 50%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin:auto;
    overflow: auto;




.td{
	display: flex;
    margin-top: 10%;
	white-space: nowrap;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #FFF;
    padding: 5px;
	border: 2px solid #fff;
	align-items: center;
	text-align: center;
	object-fit: cover;
}

.image{
	text-align: center;
		height:600px;
		width:200px;
		align-items: center;
		object-fit: cover;
		display: block;
	
}



.d2{
	width: 20%;
	font-family:"游明朝";
		font-size: large;
}

Resources

.tr:first-child th{
    border-top: 1px solid #f0f0f0;
}
.th:first-child{
    border-left: 1px solid #f0f0f0;
}
.tr:first-child th:first-child{
    z-index: 1;
}