footer {
            position: fixed;
            /*←絶対位置*/
            bottom: 0;
            /*下に固定*/
            width: 100%;
            text-align: center;
            background-color: rgba(255, 238, 247,0.8);
			font-size: medium;
        }
